BasedOnStyle: google
IndentWidth: 4


Language: JavaScript
ColumnLimit: 160
SpacesInConditionalStatement: true
SpacesInParentheses: true
AlignAfterOpenBracket: Align
BinPackArguments: true
Cpp11BracedListStyle: true
SpacesInSquareBrackets: true
SpacesInContainerLiterals: true
